.advantages {
    min-height: 470px;
    background-color: #f6f6f6;

    &__items {
        
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        
       
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
       
        &__img{
            display: block;
            width: auto;
            margin: 0 auto;
        }
        &__title{
            margin-top: 38px;
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }
        &__subtitle{
            margin-top: 25px;
            width: 231px;
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            span{
                color: #ff0000;
                text-decoration: underline;
            }
        }
    }



}