.subtitles{
    padding-top: 70px;
    text-align: center;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 24px;
    text-transform: uppercase;
    &_left{
        color: #ffffff;
        font-size: 36px;
        text-align: left;
        line-height: 46px;
        padding-top: 0;


    }
}